.intro {
  padding-bottom: 25px;
}

.intro__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 30px;
}

.text:not(:last-child) {
  margin-bottom: 30px;
}

.navigation {
  padding: 25px 0;
}

.container-padding {
  padding: 0 150px;
}

.wrapper {
  background-color: #F1F1F1;
  padding: 25px 45px 27px;
  border-radius: 10px;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 20px;
}

.navigation__list {
  color: #02535F;
  list-style: decimal;
  list-style-position: inside;
}

.navigation__item:not(:last-child) {
  margin-bottom: 10px;
}

.navigation__link {
  border-bottom: 1px solid;
}

.rule__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 30px;
}

.block {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 30px;
}

.rule-one__text {
  width: 480px;
}

.block:nth-child(even) {
  margin-right: 0;
}

.block:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.rule-two__img, .rule-three__img {
  display: inline-block;
  text-align: center;
}

