.nav {
  padding: 25px 0;
}

.nav__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 20px;
}

.nav__list {
  color: #02535F;
  list-style: decimal;
  list-style-position: inside;
}

.nav__item:not(:last-child) {
  margin-bottom: 10px;
}

.nav__link {
  border-bottom: 1px solid;
}