.rule-three__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 30px;
}

.rule-three__text {
  margin-bottom: 30px;
}

.rule-three__img-box {
  display: inline-block;
  width: 100%;
  text-align: center;
}


.rule-three__img-box:not(:last-child, .rule-three__img-box--margin) {
  margin-bottom: 30px
  
}

