.rule-one__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 30px;
}

.block {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 30px;
}

.rule-one__para {
  width: 480px;
}

.block:nth-child(even) {
  margin-right: 0;
}

.block:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.rule-one__text:not(:last-child) {
  margin-bottom: 30px;
}


